<div class="flexCol contentCenter">
  <div class="usuario form login flexCol contentCenter">
    <h1 style="padding: 30px;">  ERROR EN REGISTRO </h1>
    <a class="boton"  href="/register">Ir a Registro</a>
  </div>
</div>


