<div class="flexCol contentCenter">
  <div class="usuario form login flexCol contentCenter">
        <h1 class="">Ingrese sus datos para crear la cuenta</h1>
        <form  class="form flexCol" action="http://localhost:8080/api/sessions/registerViews" method="post">
            <label for="firstName">Nombre</label>
            <input name="firstName" type="text" value="Coder" required>

            <label for="lastName">Apellido</label>
            <input name="lastName" type="text" value="House" required>

            <label for="email">Correo Electronico</label>
            <input name="email" type="email" value="adminCoder@coder.com" required>

            <label for="age">Edad</label>
            <input name="age" type="number" value=20 required>

            <label for="password">Contraseña</label>
            <input name="password" type="text" value="adminCod3r123" required>

            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
<div>
  <p>¿Ya tenes cuenta? <a href="/login">Iniciar sesion</a></p>
</div>