<header class="flexRow">
    <div>
        <h1 data-email="{{email}}"="">Bienvenido {{{nombre}}} - Rol: <span>{{rol}}</span></h1>
        <p>Correo Electronico: {{email}} </p>
    </div>
    <a class="botonLogout" href="/logout">Cerrar Sesion</a>
    <nav>
        <a class="botonLogout botonAgregarProductos" href="/products">Comprar productos</a>
        <a class="botonLogout crearProductos" href="/realtimeproducts">Crear nuevo producto</a>
        <a class="botonLogout" href="/home">Listado de productos disponibles</a>
        <a class="botonLogout" href="/current">Ver y actualizar perfil del Usuario</a>
        <div  id="nav"></div>
    </nav>
</header>
